* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2C2C2C;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header svg {
  width: 4%;
  margin: 4% 6% 2% 6%;
  color: white;
}
header h1 {
  font-size: 4vw;
  color: white;
}

#colorPallete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 13% 6% 10% 6%;
}
#colorPallete div {
  width: 13vw;
  height: 13vw;
  border-radius: 100%;
  background-image: url("../Images/FondoCircle.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#colorPallete div svg {
  color: white;
  width: 13vw;
  height: 13vw;
  background: none;
}
#colorPallete .color-pick-active {
  width: 15vw;
  height: 15vw;
}
#colorPallete .color-pick-active svg {
  width: 15vw;
  height: 15vw;
}

.colorPicker {
  position: relative;
  width: 245px;
  margin: auto;
}
.colorPicker div {
  border-radius: 10px;
}
.colorPicker div, .colorPicker span {
  background-color: white;
}
.colorPicker span div {
  border-radius: 0px;
  width: 15px;
  height: 15px;
}
.colorPicker span div .circleColorPick {
  position: absolute;
  inset: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 1;
  width: 5px;
  height: 5px;
}
.colorPicker span div .opacity0 {
  opacity: 0;
}
.colorPicker input {
  color: white;
}

.flexbox-fix input {
  padding: 0px 0px 0px 20%;
  border: none;
  outline: none;
  background: none;
  color: rgb(51, 51, 51);
  height: 12px;
}
.flexbox-fix span {
  position: absolute;
  top: 3px;
  left: 0px;
  line-height: 16px;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(153, 153, 153);
}

#name {
  width: 80%;
  margin: 10% auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#name h3 {
  width: 100%;
  margin-bottom: 3%;
}
#name input {
  width: 75%;
  height: 30px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}
#name svg {
  width: 20%;
  background-color: white;
  border-radius: 10px;
  color: #2C2C2C;
}

@media (min-width: 920px) {
  #colorPallete {
    margin: 13% 20% 10% 20%;
  }
  #colorPallete div {
    width: 8vw;
    height: 8vw;
  }
  #colorPallete div svg {
    width: 8vw;
    height: 8vw;
  }
  #colorPallete .color-pick-active {
    width: 10vw;
    height: 10vw;
  }
  #colorPallete .color-pick-active svg {
    width: 10vw;
    height: 10vw;
  }
  #colorPickerAndName {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
  }
  #colorPickerAndName .colorPicker {
    margin: auto 5%;
    width: 340px;
  }
  #colorPickerAndName .colorPicker * {
    width: 335px;
  }
  #colorPickerAndName .colorPicker span div {
    width: 22px;
    height: 22px;
  }
  #colorPickerAndName .colorPicker span div .circleColorPick {
    position: absolute;
    inset: 8px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 1;
    width: 8px;
    height: 8px;
  }
  #colorPickerAndName .colorPicker .colors {
    width: 373px;
  }
  #colorPickerAndName .flexbox-fix input {
    padding: 0px 0px 0px 20%;
    border: none;
    outline: none;
    background: none;
    color: rgb(51, 51, 51);
    height: 35px;
    font-size: 19px;
  }
  #colorPickerAndName .flexbox-fix span {
    position: absolute;
    top: 8px;
    left: 0px;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 19px;
    color: rgb(153, 153, 153);
  }
  #colorPickerAndName #name {
    margin: 10% 5%;
    width: 40%;
  }
  #colorPickerAndName #name h3 {
    font-size: 35px;
  }
  #colorPickerAndName #name input {
    height: 80px;
    font-size: 30px;
  }
  #colorPickerAndName #name svg {
    height: 80px;
  }
}
@media (min-width: 1800px) {
  #colorPickerAndName .colorPicker {
    margin: auto 5%;
    width: 440px;
  }
  #colorPickerAndName .colorPicker * {
    width: 435px;
  }
  #colorPickerAndName .colorPicker span div {
    width: 31px;
    height: 31px;
  }
  #colorPickerAndName .colorPicker span div .circleColorPick {
    width: 15px;
    height: 15px;
  }
  #colorPickerAndName .flexbox-fix input {
    font-size: 25px;
  }
  #colorPickerAndName .flexbox-fix span {
    top: 11px;
    font-size: 20px;
  }
}
.saved {
  margin: 7% 6% 14% 6%;
}
.saved h2 {
  color: white;
  font-size: 7vw;
}
.saved #saved .favorite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  margin: 3% 10px;
}
.saved #saved .favorite h5 {
  width: 80%;
}
.saved #saved .favorite svg {
  width: 20%;
}
.saved #saved .favorite .colorsSaved {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: black;
  padding: 3%;
  margin: 2% 0;
  border-radius: 10px;
}
.saved #saved .favorite .colorsSaved div {
  border: 3px solid white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

@media (min-width: 920px) {
  .saved {
    width: 95%;
    margin: 3%;
  }
  .saved h2 {
    font-size: 4vw;
  }
  #saved {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #saved .favorite {
    width: 30%;
    margin: 0 10px;
  }
  #saved .favorite h5 {
    font-size: 25px;
  }
}/*# sourceMappingURL=estilos.css.map */