* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $colorPrincipal;
    ;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 6%;
        margin: 4% 6% 2% 6%;
        color: white;
    }
    h1 {
        font-size: 6vw;
        color: white;
    }
}

@media (min-width: 991.98px) {

    header {
        svg {
            margin: 3% 4% 2% 20%;
        }
    }
}