* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $colorPrincipal;
    ;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 4%;
        margin: 4% 6% 2% 6%;
        color: white;
    }
    h1 {
        font-size: 4vw;
        color: white;
    }
}

@media (min-width: 920px) {

}