* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 20%);
    svg {
        width: 6%;
        margin: 3% 4% 2% 3%;
        color: $colorPrincipal;
    }
    h1 {
        font-size: 6vw;
        color: $colorPrincipal;
    }
}