.saved {
    margin: 7% 6% 14% 6%;
    h1 {
        color: gray;
        font-size: 7vw;
    }
    #saved {
       .favorite {
        background-color: lightgray;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
        border: 1px solid black;
        border-radius: 10px;
        align-items: center;
        margin: 5% 0;
        h1 {
            color: dimgray;
            font-size: 2vw;
            width: 80%;
        }
        svg {
            width: 4%;
            color: dimgray;
        }
    } 
    }
    
}

@media (min-width: 991.98px) {

    .saved {
        width: 60%;
        margin: 7% auto 14% auto;
        #saved {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .favorite {
                width: 47%;
                h1 {
                    font-size: 1.5vw;
                }
            }
        }
    }
}